[Author: John Doe]
[Gallery Title: My Pagemap ImageWall Retina Demo]
[Gallery Description: Pagemap ImageWall Retina adapted by XooFoo]
[Meta Keywords: gallery, photos, holidays, mobile, retina]
[Thumbnail Cropped: on]
[Thumbnail Quality: 80]
[Thumbnail Size: normal]
[Thumbnail Background: black]
[Image Size: ]
[Sort: normal]
[Embedded Script: off]
[Other JS: js/twitter.js]
[ImageWall Width: 1000px]
[Header Image: img/logo.png]
[Background: white]
[Header Color: silver]
[Content Color: black]
[Footer Color: silver]
[Custom CSS: ]
[Custom FileCSS: css/style.css]
[Custom HTML:<section id="social"><p><iframe src="github-btn.html?user=krisxoofoo&repo=Pagemap-ImageWall-Retina&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="84px" height="20px"></iframe><iframe src="github-btn.html?user=krisxoofoo&repo=Pagemap-ImageWall-Retina&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="84px" height="20px"></iframe><iframe src="github-btn.html?user=krisxoofoo&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="284px" height="20px"></iframe><a href="https://twitter.com/kris_fr" class="twitter-follow-button" data-show-count="false">Follow @kris_fr</a></p></section><section class="download"><a rel="tooltip" href="https://github.com/krisxoofoo/Pagemap-ImageWall-Retina/zipball/master" class="primary btn" title="Download Pagemap ImageWall Retina on GitHub">Download on GitHub</a></section>]
[Home Page: http://sitename.org/pagemapretina/]
[Contact: john@doe.org]
[Imprint: ]
[Images Dir: /myimagefolder]
[Images List: ]
[Exclude Images: ]
[Disqus Shortname: xxxxxxxxxxx]
[GoogleAnalytics Account: UA-XXXXXX-1]
[Per Page: 15]
